/* @import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200..700&display=swap');

body {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
} */

.pt-16 {
    padding-top: 16px;
}

.pt-48 {
    padding-top: 48px;
}

.slick-prev:before,
.slick-next:before {
    visibility: hidden;
}

.p-60 {
    padding: 60px 0px;
}

.mb-82 {
    margin-bottom: 82px !important;
}

.content .text-img {
    font-size: 4rem;
}

.item-car {
    text-decoration: none;
    padding: 0.6rem;
    width: 300px!important;
}

.tag-item {
    font-size: 0.8rem;
    padding: 3px 8px;
    border-radius: 10px;
    background-color: #e9dff9;
}

.featured-container{
    justify-content: space-around;
}

.search-form-result{
    width: 100%;
    border-radius: 16px;
    display: none;
}

.imageProduct{
    width: 80px;
}

.unit{
    padding-left: 10px;
    padding-top: 5px;
    border-top: 1px solid sandybrown;
}